{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="mt-5 mb-3">
                {{ project.title }}
                <small class="text-muted">Liste des investisseurs</small>
            </h1>
            <div class="progress">
                {% set progress = project.progress %}
                <div class="progress-bar {% if project.isFunded() %}bg-success{% endif %}" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mb-5"><small>{{ project.investedAmount|number_format(0, ',', ' ') }} € / {{ project.fundingLimit|number_format(0, ',', ' ') }} €</small></p>
            <table class="table table-striped table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th scope="col">Nom de l'investisseur</th>
                    <th scope="col">Montant investi</th>
                </tr>
                </thead>
                <tbody>
                {% for investment in project.investments %}
                    <tr>
                        <td scope="row">{{ investment.user.fullName }}</td>
                        <td>{{ investment.amount|number_format(0, ',', ' ') }} &euro;</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucun investisseur pour le moment.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
