{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <h1 class="my-5">Découvrez nos opportunités d'investissement</h1>
            {% for project in projects %}
                {% if loop.first or loop.index0 % 3 == 0 %}
                    <div class="row mb-4">
                {% endif %}
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ upload_directory ~ project.cover }}" width="360" height="240" alt="project">
                        <div class="card-body">
                            <h5>{{ project.title }}</h5>
                            <p class="card-text">
                                {{ project.description }}
                            </p>
                            {% if is_granted('ROLE_USER') %}
                                <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#investModal" data-project-name="{{ project.title }}" data-project-id="{{ project.id }}">Investir</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if not loop.first and (loop.last or loop.index % 3 == 0 ) %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {% if is_granted('ROLE_USER') %}
        <!-- Modal -->
        <div class="modal fade" id="investModal" tabindex="-1" role="dialog" aria-labelledby="investModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form action="{{ path('anaxago_core_invest') }}" method="POST">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="investModalLabel">Investir dans le projet</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Le projet <mark id="modalProjectName"></mark> vous intéresse ? Saisissez le montant que vous souhaitez investir :</p>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">&euro;</div>
                                </div>
                                <input type="hidden" name="project_id" id="modalProjectId">
                                <input type="text" class="form-control" id="amount" name="amount" placeholder="Montant">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-success">Investir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if is_granted('ROLE_USER') %}
        <script>
            $('#investModal').on('show.bs.modal', function (event) {
                var modal = $(this);
                var button = $(event.relatedTarget);
                var projectId = button.data('project-id');
                var projectName = button.data('project-name');

                modal.find('#modalProjectId').val(projectId);
                modal.find('#modalProjectName').text(projectName);
            });
        </script>
    {% endif %}
{% endblock %}